<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.upgrade-monitor.resource-logger</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>/Users/connoralydon/sources/upgrade-monitor/resource_logger.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
      <key>INTERVAL_SECONDS</key>
      <string>60</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/connoralydon/sources/upgrade-monitor/data/launchd.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/connoralydon/sources/upgrade-monitor/data/launchd.err</string>
  </dict>
</plist>
